/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");


/* Global variables */
:root {
    /* Primary Color */
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan-2: hsl(186, 14%, 43%);
    --Dark-grayish-cyan-1: hsl(184, 14%, 56%);
    --Light-grayish-cyan-2: hsl(185, 41%, 84%);
    --Light-grayish-cyan-1: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --red: rgb(255, 102, 102);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Light-grayish-cyan-2);
    font-family: "Space Mono", "Courier New", monospace;
    display: flex;
    flex-direction: column; /*New statement learned*/
    justify-content: flex-end;
    align-items: center;

    min-height: 100vh;
    max-width: 1600px;
    width: 100%;
}

#logo {
    display: block;
    margin: 3rem auto;
}


/* Web card version */
section.container {
    background-color: var(--White);
    border-radius: 5%;
    padding: 1.5rem;
    width: 100vw; /*New statement learned*/
    display: flex;
    flex-direction: column; /*New statement learned*/ 
    transition: all 0.2s linear; /*New statement learned*/
}

/* Left section */
form {
    position: relative; /*New statement learned*/ 
    margin-top: 1.4rem;
}

label {
    font-size:  1rem;
    font-weight: 700;
    color: var(--Dark-grayish-cyan-2);
    position: relative;
    display: block; /*New statement learned*/ 
}


label span /*New statement learned*/  {
    display: none;
}

/* it enable when inputted value = 0 */
label span {
    display: inline;
    color: var(--red);
    position: absolute; /*New statement learned*/ 
    right: 0; /*New statement learned*/ 
}

.numberPeople #people-count.empty /*New statement learned*/ {
    border: 3px solid rgb(255, 102, 102, 0.5); /*New statement learned*/ 
}

/* highlight the input fields */
form input:focus /*New statement learned*/ {
    border: 3px solid hsla(172, 67%, 45%, 0.445);
    border-radius: 5px;
    outline: none;
}

form .input-field {
    color: var(--Very-dark-cyan);
    background-color: var(--Light-grayish-cyan-1);
    text-align: right;
    border-radius: 5px;
    border: 3px solid transparent;

    font-family: "Space Mono", "Courier New", monospace;
    font-size: 1.4rem;
    font-weight: 700;

    padding: 5px;
    max-width: 100%;
    width: 100%;
}

/* icons */
.amountInput::before, .numberPeople::before /*New statement learned*/ {
    position: absolute;
    top: 38px; /*New statement learned*/
    left: 13px; /*New statement learned*/
    font-size: 1.1rem;
    color: var(--Dark-grayish-cyan-1);
    opacity: 0.5; /*New statement learned*/
}

form.amountInput::before /*New statement learned*/ {
    display: inline-block;
    font-family: "Font Awesome 6 Free"; 
    content: "\e222";
    font-weight: 700;
}

form.numberPeople::before {
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    content: "\f007";
    font-weight: 700;
}

/* Tip */
.percentageOptions > button, .custom-percentage /*New statement learned*/ 
{
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: "Space Mono", "Courier New", monospace;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}

.percentageOptions > button {
    color: var(--Dark-grayish-cyan-1);
    background-color: var(--Very-dark-cyan);
    letter-spacing: 1.2px;
}

.percentageOptions > button::after /*Nee statement learned*/ {
    content: "%";
}

.percentageOptions > button:hover {
    background-color: var(--Light-grayish-cyan-2);
    color: var(--Very-dark-cyan);
    transition:  all 0.2s linear;
}

/* enable on click */
.percent-options > button.click {
    background-color: var(--Strong-cyan);
}

.custom-percentage {
    width: 100%;
    text-align: center;
    background-color: var(--Light-grayish-cyan-1);
    color: var(--Dark-grayish-cyan-2);
}


/* right section */
article.displayContainer {
    background-color: var(--Very-dark-cyan);
    border-radius: 10px;
    margin-top: 5%;
    padding: 1.1rem;
}

.displayDescription {
    color: var(--Light-grayish-cyan-1);
    font-size: 1rem;
    font-weight: 700;
}

.displayContainer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0px;
}

p:not(.amount, .displayDescription) {
    color: var(--Dark-grayish-cyan-1);
}

p.amount {
    color: var(--Strong-cyan);
    font-size: 2rem;
    font-weight: bold;
}

/* reset button */
button.resetButton {
    max-width: 100%;
    width: 100%;
    padding: 5px;
    font-family: "Space Mono", "Courier New", monospace;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

button.resetButton:enabled {
    background-color: var(--Strong-cyan);
    cursor: pointer;
    border: none;
    border-radius: 7px;
}

button.resetButton:hover {
    background-color: var(--Light-grayish-cyan-2);
    transition: all 0.3s linear;
}

footer {
    display: none;
}

/* mobile display */
@media screen and (min-width: 768px) {
    body {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #logo {
        margin-top: 0px;
    }

    section.container {
        flex-direction: row;
        justify-content: space-between;
        max-width: 850px;
        width: 95%;
        border-radius: 20px;
        padding: 2rem;
        height: auto;
        margin: 0 auto;
    }

}